body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;

}

.indifferent {
  border: 1px solid #ddc722;
  box-shadow:  -1px 1px #ddc722, -2px 2px #ddc722, -3px 3px #ddc722, -4px 4px #ddc722, -5px 5px #ddc722;
  background-color: #dddd22;
}

.dubious {
  border: 1px solid #ab2b2b;
  box-shadow:  -1px 1px #ab2b2b, -2px 2px #ab2b2b, -3px 3px #ab2b2b, -4px 4px #ab2b2b, -5px 5px #ab2b2b;
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
}

.med {
  width: 203.5%;
}

.large {
  width: 303%;
}
